<a href="https://colab.research.google.com/github/yujiimt/-Optimization-problem/blob/master/time_series_tutotrial/medum_timeseries.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [10]:
import pandas as pd
from datetime import datetime
import numpy as np

np.random.seed(1234)
date_rng = pd.date_range(start='1/1/2018', end='1/08/2018', freq='H')

In [12]:
df = pd.DataFrame(date_rng, columns=["date"])
df["data"] = np.random.randint(0,100,size=(len(date_rng)))
df.head(10)

                 date  data
0 2018-01-01 00:00:00    47
1 2018-01-01 01:00:00    83
2 2018-01-01 02:00:00    38
3 2018-01-01 03:00:00    53
4 2018-01-01 04:00:00    76
5 2018-01-01 05:00:00    24
6 2018-01-01 06:00:00    15
7 2018-01-01 07:00:00    49
8 2018-01-01 08:00:00    23
9 2018-01-01 09:00:00    26

In [13]:
df["datetime"] = pd.to_datetime(df["date"])
df = df.set_index("datetime")
df.drop(["date"], axis=1, inplace=True)
df.head()

                     data
datetime
2018-01-01 00:00:00    47
2018-01-01 01:00:00    83
2018-01-01 02:00:00    38
2018-01-01 03:00:00    53
2018-01-01 04:00:00    76

In [14]:
string_date_rng = [str(x) for x in date_rng]
string_date_rng

['2018-01-01 00:00:00',
 '2018-01-01 01:00:00',
 '2018-01-01 02:00:00',
 '2018-01-01 03:00:00',
 '2018-01-01 04:00:00',
 '2018-01-01 05:00:00',
 '2018-01-01 06:00:00',
 '2018-01-01 07:00:00',
 '2018-01-01 08:00:00',
 '2018-01-01 09:00:00',
 '2018-01-01 10:00:00',
 '2018-01-01 11:00:00',
 '2018-01-01 12:00:00',
 '2018-01-01 13:00:00',
 '2018-01-01 14:00:00',
 '2018-01-01 15:00:00',
 '2018-01-01 16:00:00',
 '2018-01-01 17:00:00',
 '2018-01-01 18:00:00',
 '2018-01-01 19:00:00',
 '2018-01-01 20:00:00',
 '2018-01-01 21:00:00',
 '2018-01-01 22:00:00',
 '2018-01-01 23:00:00',
 '2018-01-02 00:00:00',
 '2018-01-02 01:00:00',
 '2018-01-02 02:00:00',
 '2018-01-02 03:00:00',
 '2018-01-02 04:00:00',
 '2018-01-02 05:00:00',
 '2018-01-02 06:00:00',
 '2018-01-02 07:00:00',
 '2018-01-02 08:00:00',
 '2018-01-02 09:00:00',
 '2018-01-02 10:00:00',
 '2018-01-02 11:00:00',
 '2018-01-02 12:00:00',
 '2018-01-02 13:00:00',
 '2018-01-02 14:00:00',
 '2018-01-02 15:00:00',
 '2018-01-02 16:00:00',
 '2018-01-02 17:00:00',
 '2018-01-02 18:00:00',
 '2018-01-02 19:00:00',
 '2018-01-02 20:00:00',
 '2018-01-02 21:00:00',
 '2018-01-02 22:00:00',
 '2018-01-02 23:00:00',
 '2018-01-03 00:00:00',
 '2018-01-03 01:00:00',
 '2018-01-03 02:00:00',
 '2018-01-03 03:00:00',
 '2018-01-03 04:00:00',
 '2018-01-03 05:00:00',
 '2018-01-03 06:00:00',
 '2018-01-03 07:00:00',
 '2018-01-03 08:00:00',
 '2018-01-03 09:00:00',
 '2018-01-03 10:00:00',
 '2018-01-03 11:00:00',
 '2018-01-03 12:00:00',
 '2018-01-03 13:00:00',
 '2018-01-03 14:00:00',
 '2018-01-03 15:00:00',
 '2018-01-03 16:00:00',
 '2018-01-03 17:00:00',
 '2018-01-03 18:00:00',
 '2018-01-03 19:00:00',
 '2018-01-03 20:00:00',
 '2018-01-03 21:00:00',
 '2018-01-03 22:00:00',
 '2018-01-03 23:00:00',
 '2018-01-04 00:00:00',
 '2018-01-04 01:00:00',
 '2018-01-04 02:00:00',
 '2018-01-04 03:00:00',
 '2018-01-04 04:00:00',
 '2018-01-04 05:00:00',
 '2018-01-04 06:00:00',
 '2018-01-04 07:00:00',
 '2018-01-04 08:00:00',
 '2018-01-04 09:00:00',
 '2018-01-04 10:00:00',
 '2018-01-04 11:00:00',
 '2018-01-04 12:00:00',
 '2018-01-04 13:00:00',
 '2018-01-04 14:00:00',
 '2018-01-04 15:00:00',
 '2018-01-04 16:00:00',
 '2018-01-04 17:00:00',
 '2018-01-04 18:00:00',
 '2018-01-04 19:00:00',
 '2018-01-04 20:00:00',
 '2018-01-04 21:00:00',
 '2018-01-04 22:00:00',
 '2018-01-04 23:00:00',
 '2018-01-05 00:00:00',
 '2018-01-05 01:00:00',
 '2018-01-05 02:00:00',
 '2018-01-05 03:00:00',
 '2018-01-05 04:00:00',
 '2018-01-05 05:00:00',
 '2018-01-05 06:00:00',
 '2018-01-05 07:00:00',
 '2018-01-05 08:00:00',
 '2018-01-05 09:00:00',
 '2018-01-05 10:00:00',
 '2018-01-05 11:00:00',
 '2018-01-05 12:00:00',
 '2018-01-05 13:00:00',
 '2018-01-05 14:00:00',
 '2018-01-05 15:00:00',
 '2018-01-05 16:00:00',
 '2018-01-05 17:00:00',
 '2018-01-05 18:00:00',
 '2018-01-05 19:00:00',
 '2018-01-05 20:00:00',
 '2018-01-05 21:00:00',
 '2018-01-05 22:00:00',
 '2018-01-05 23:00:00',
 '2018-01-06 00:00:00',
 '2018-01-06 01:00:00',
 '2018-01-06 02:00:00',
 '2018-01-06 03:00:00',
 '2018-01-06 04:00:00',
 '2018-01-06 05:00:00',
 '2018-01-06 06:00:00',
 '2018-01-06 07:00:00',
 '2018-01-06 08:00:00',
 '2018-01-06 09:00:00',
 '2018-01-06 10:00:00',
 '2018-01-06 11:00:00',
 '2018-01-06 12:00:00',
 '2018-01-06 13:00:00',
 '2018-01-06 14:00:00',
 '2018-01-06 15:00:00',
 '2018-01-06 16:00:00',
 '2018-01-06 17:00:00',
 '2018-01-06 18:00:00',
 '2018-01-06 19:00:00',
 '2018-01-06 20:00:00',
 '2018-01-06 21:00:00',
 '2018-01-06 22:00:00',
 '2018-01-06 23:00:00',
 '2018-01-07 00:00:00',
 '2018-01-07 01:00:00',
 '2018-01-07 02:00:00',
 '2018-01-07 03:00:00',
 '2018-01-07 04:00:00',
 '2018-01-07 05:00:00',
 '2018-01-07 06:00:00',
 '2018-01-07 07:00:00',
 '2018-01-07 08:00:00',
 '2018-01-07 09:00:00',
 '2018-01-07 10:00:00',
 '2018-01-07 11:00:00',
 '2018-01-07 12:00:00',
 '2018-01-07 13:00:00',
 '2018-01-07 14:00:00',
 '2018-01-07 15:00:00',
 '2018-01-07 16:00:00',
 '2018-01-07 17:00:00',
 '2018-01-07 18:00:00',
 '2018-01-07 19:00:00',
 '2018-01-07 20:00:00',
 '2018-01-07 21:00:00',
 '2018-01-07 22:00:00',
 '2018-01-07 23:00:00',
 '2018-01-08 00:00:00']

In [15]:
timestamp_date_rng = pd.to_datetime(string_date_rng, infer_datetime_format=True)
timestamp_date_rng

DatetimeIndex(['2018-01-01 00:00:00', '2018-01-01 01:00:00',
               '2018-01-01 02:00:00', '2018-01-01 03:00:00',
               '2018-01-01 04:00:00', '2018-01-01 05:00:00',
               '2018-01-01 06:00:00', '2018-01-01 07:00:00',
               '2018-01-01 08:00:00', '2018-01-01 09:00:00',
               ...
               '2018-01-07 15:00:00', '2018-01-07 16:00:00',
               '2018-01-07 17:00:00', '2018-01-07 18:00:00',
               '2018-01-07 19:00:00', '2018-01-07 20:00:00',
               '2018-01-07 21:00:00', '2018-01-07 22:00:00',
               '2018-01-07 23:00:00', '2018-01-08 00:00:00'],
              dtype='datetime64[ns]', length=169, freq=None)

In [16]:
string_date_rng_2 = ["June-01-2018","June-02-2018","June-03-2018"]
timestamp_date_rng_2 = [datetime.strptime(x, '%B-%d-%Y') for x in string_date_rng_2]
timestamp_date_rng_2

[datetime.datetime(2018, 6, 1, 0, 0),
 datetime.datetime(2018, 6, 2, 0, 0),
 datetime.datetime(2018, 6, 3, 0, 0)]

In [17]:
df2 = pd.DataFrame(timestamp_date_rng_2, columns=["date"])
df2

        date
0 2018-06-01
1 2018-06-02
2 2018-06-03

In [18]:
df[df.index.day == 2]

                     data
datetime
2018-01-02 00:00:00    38
2018-01-02 01:00:00    67
2018-01-02 02:00:00    11
2018-01-02 03:00:00     0
2018-01-02 04:00:00    75
2018-01-02 05:00:00    80
2018-01-02 06:00:00     3
2018-01-02 07:00:00     2
2018-01-02 08:00:00    19
2018-01-02 09:00:00    12
2018-01-02 10:00:00    65
2018-01-02 11:00:00    75
2018-01-02 12:00:00    81
2018-01-02 13:00:00    14
2018-01-02 14:00:00    71
2018-01-02 15:00:00    60
2018-01-02 16:00:00    46
2018-01-02 17:00:00    28
2018-01-02 18:00:00    81
2018-01-02 19:00:00    87
2018-01-02 20:00:00    13
2018-01-02 21:00:00    96
2018-01-02 22:00:00    12
2018-01-02 23:00:00    69

In [19]:
df['2018-01-03']

                     data
datetime
2018-01-03 00:00:00    95
2018-01-03 01:00:00    31
2018-01-03 02:00:00    89
2018-01-03 03:00:00    84
2018-01-03 04:00:00    45
2018-01-03 05:00:00    16
2018-01-03 06:00:00    41
2018-01-03 07:00:00    72
2018-01-03 08:00:00    56
2018-01-03 09:00:00    70
2018-01-03 10:00:00    56
2018-01-03 11:00:00    86
2018-01-03 12:00:00    44
2018-01-03 13:00:00    90
2018-01-03 14:00:00    83
2018-01-03 15:00:00    47
2018-01-03 16:00:00    49
2018-01-03 17:00:00    18
2018-01-03 18:00:00    85
2018-01-03 19:00:00    46
2018-01-03 20:00:00    98
2018-01-03 21:00:00    37
2018-01-03 22:00:00    38
2018-01-03 23:00:00     7

In [20]:
df["2018-01-04":"2018-01-06"]

                     data
datetime
2018-01-04 00:00:00    67
2018-01-04 01:00:00     5
2018-01-04 02:00:00    47
2018-01-04 03:00:00    47
2018-01-04 04:00:00    15
...                   ...
2018-01-06 19:00:00    18
2018-01-06 20:00:00    76
2018-01-06 21:00:00    69
2018-01-06 22:00:00    81
2018-01-06 23:00:00    80

[72 rows x 1 columns]

In [21]:
df.resample("D").mean()

                 data
datetime
2018-01-01  49.125000
2018-01-02  46.041667
2018-01-03  57.625000
2018-01-04  47.833333
2018-01-05  47.041667
2018-01-06  51.666667
2018-01-07  49.083333
2018-01-08  17.000000

In [22]:
df["rolling_sum"] = df.rolling(3).sum()
df.head(10)

                     data  rolling_sum
datetime
2018-01-01 00:00:00    47          NaN
2018-01-01 01:00:00    83          NaN
2018-01-01 02:00:00    38        168.0
2018-01-01 03:00:00    53        174.0
2018-01-01 04:00:00    76        167.0
2018-01-01 05:00:00    24        153.0
2018-01-01 06:00:00    15        115.0
2018-01-01 07:00:00    49         88.0
2018-01-01 08:00:00    23         87.0
2018-01-01 09:00:00    26         98.0

In [23]:
df["rolling_sum_backfilled"] = df["rolling_sum"].fillna(method="backfill")
df.head()

                     data  rolling_sum  rolling_sum_backfilled
datetime
2018-01-01 00:00:00    47          NaN                   168.0
2018-01-01 01:00:00    83          NaN                   168.0
2018-01-01 02:00:00    38        168.0                   168.0
2018-01-01 03:00:00    53        174.0                   174.0
2018-01-01 04:00:00    76        167.0                   167.0

In [24]:
epoch_t = 1529272655
real_t = pd.to_datetime(epoch_t, unit='s')
real_t

Timestamp('2018-06-17 21:57:35')

In [26]:
real_t.tz_localize('UTC').tz_convert("US/Pacific")

Timestamp('2018-06-17 14:57:35-0700', tz='US/Pacific')